@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    margin: 0 auto;
}

main{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    font-size: 2.5em;
    color: rgb(24, 22, 22);
}

main h1, main p{
    padding-top: 1em;
    font-family: 'Roboto', sans-serif;
}

main p{
    padding-bottom: 1em;
}

#title{
    text-align: center;
}



#div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    max-width: 100%;
    width: 98%;
}

#image{
    max-width: 100%;
    width: 63%;
}

#tribute-info{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tribute-info h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: .5em;
}

#tribute-info li{
    max-width: 600px;
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 101, 101);
}

span{
    color: black;
    font-weight: bold;
}

#tribute-info p{
    font-family: 'Roboto', sans-serif;
}

#quote{
    max-width: 610px;
    font-style: italic;
    color: rgb(109, 101, 101);
}

#tribute-link{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: .5rem;
    padding-top: 2em;
    padding-bottom: 2em;
    color: rgba(0, 0, 0, 0.678);
}

#tribute-link a{
    color: rgba(114, 114, 211, 0.815);
}

#image{
    max-width: 100%;
    width: 63%;
}

@media (max-width: 700px){
    #image{
        max-width: 100%;
        width: 100%;
    }
}